/* general */
:root{
    --poppins: 'Poppins', sans-serif;
    --dark-green: rgb(17, 73, 26);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    font-family: var(--poppins);
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:focus{
    background-color: transparent;
}



/* hero home */


/* navbar */
.navbar{
    width: 100%;
    height: 100px;
    padding: 15px 0 0;
    background-color: #8AB591;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    transition: all 0.2s ease-in;
}

.sticky{
    position: fixed;
    top: 0;
    background-color: rgba(178, 178, 178, 0.466);
    box-shadow: 0 0 5px 5px rgba(104, 105, 105, 0.4),
                0 0 15px 15px rgba(148, 148, 148, 0.2);
    z-index: 5;
}

.navbar .logo{
    height: 100%;
    width: auto;
    margin-left: 5vw;
}

.navbar .logo img{
    height: 100%;
    width: auto;
}

.nav-list{
    margin-right: 5vw;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-list .nav-item{
    color: var(--dark-green);
    margin-left: 3vw;
    position: relative;
}

.nav-item::after{
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    background-color: var(--dark-green);
    border-radius: 5px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in;
}

.nav-item:hover::after{
    width: 30px;
}

.menu-icon{
    display: none;
    align-self: center;
    margin-right: 5vw;
    cursor: pointer;
}

.navbar .menu-active{
    opacity: 1 !important;
    display: block !important;
    transform: translateX(0) !important;
    z-index: 100;
}

/* for LAPTOP */
@media screen and (min-width: 768px) and (max-width: 991px){
    .navbar .nav-list{
        font-size: 1.2rem;
    }
    .nav-list .nav-item{
        margin-left: 2vw;
    }
}

/* for MOBILE */
@media screen and (max-width: 767px){
    body{
        overflow-x: hidden;
    }
    .menu-icon{
        display: block;
        font-weight: bold;
    }
    .navbar .nav-list{
        position: absolute;
        width: 50%;
        height: 100vh;
        margin-right: 0;
        top: 100px;
        right: 0;
        display: none;
        text-align: center;
        font-size: 1.2rem;
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.5s ease-in;
        background-color: #187927;
    }
    .nav-list .nav-item{
        margin: 0;
        padding: 30px;
        color: whitesmoke;
    }
    .nav-item::after{
        display: none;
    }
}

/* hero bg */
.hero-bg{
    width: 100%;
    padding: 0;
    height: auto;
    background-image:url('../img/home/amol-sonar-Y2bJAj3NwSc-unsplash\ 1.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position: left 0% bottom 2.5%;
    position: relative;
}

.hero-bg img{
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-bg svg{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .hero-bg{
        background-position: left 0% bottom 5%;
    }
}

/* for MOBILE */
@media screen and (max-width: 767px){
    .hero-bg{
        background-position: left 0% bottom 10%;
    }
}

/* hero story */
.hero-home .hero-story{
    /* background-color: turquoise; */
    padding: 60px 50px;
    text-align: center;
    position: relative;
}

.hero-story .hero-story-title{
    margin-bottom: 15px;
    color: var(--dark-green);
    font-size: 2rem;
    font-weight: bolder;
}

.hero-story p{
    margin: 0 auto;
    width: 50%;
    color: rgba(178, 178, 178, 1);
    font-size: 1.5rem;
    font-style: italic;
}

.read-more{
    color: #187927;
    font-size: 1.5rem;
    margin: 30px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.more-text{
    display: none;
    transition: all 0.2s ease-in;
}

/* for LAPTOP */
@media screen and (min-width: 768px) and (max-width: 991px){
    .hero-story .hero-story-title{
        font-size: 1.75rem;
    }
    .hero-story p{
        font-size: 1.25rem;
        width: 75%;
    }
}

/* for MOBILE */
@media screen and (max-width: 767px){
    .hero-story .hero-story-title{
        font-size: 1.5rem;
    }
    .hero-story p{
        font-size: 1rem;
        width: 90%;
    }
}

/* sales */
.sales{
    width: 100%;
    background-color: rgba(234, 255, 238, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sales .qna{
    width: 80%;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 15px 30px 30px;
    border-radius: 15px;
    background-color: rgba(24, 121, 39, 0.3);
    text-align: center;
}

.sales .qna p:nth-child(1){
    font-size: 2rem;
    margin-bottom: 20px;
}

.sales .qna p:nth-child(2){
    font-size: 1.2rem;
}

.sales .qna:nth-child(3){
    background-color: transparent;
}

.sales .products{
    width: 100%;
    padding: 0 2.5vw;
    white-space: nowrap;
    overflow-x: auto;
    background-color: #b9e2c29d;
    offset: 700;
}

.products::-webkit-scrollbar{
    background-color: rgba(187, 187, 187, 0.466);
    height: 10px;
    display: none;
}

.products::-webkit-scrollbar-thumb{
    background-color: rgba(70, 70, 70, 0.3);
    border-radius: 5px;
}

.products:hover::-webkit-scrollbar{
    display: block;
}

.products li{
    width: 350px;
    height: 100%;
    margin: 2.5vw;
    padding: 2.5vw;
    display: inline-block;
    white-space: normal;
    text-align: center;
    border-radius: 10px;
    box-shadow: 
        0 5px 5px 5px #bdd6c3,
        0 15px 15px 15px #cef0d4;
}

.products .product-image{
    width: 100%;
    margin-bottom: 15px;
}

.products .product-image img{
    width: 100%;
    height: 100%;
}

.products .product-name{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.products .product-desc{
    width: 100%;
    height: 100px;
    padding: 0 10%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
    color: #989595;
    font-style: italic;
    overflow-y: auto;
}

.products .product-desc::-webkit-scrollbar{
    width: 2.5px;
    border-radius: 1.25px;
    background-color: rgba(178, 178, 178, 1);
    display: none;
}

.products .product-desc:hover::-webkit-scrollbar{
    display: block;
}

.products .product-desc::-webkit-scrollbar-thumb{
    background-color: rgba(70, 70, 70, 0.3);
}

.shop-item-action{
    margin: 3vw 0 0;
    display: flex;
    justify-content: space-around;
}

.shop-item-action div{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4DE81;
    box-shadow: 0 0 1px 1px ;
}

.scroll-arrow{
    width: 5vw;
    height: 10vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(148, 148, 148, 0.5);
}

.scroll-arrow:hover{
    cursor: pointer;
}

.scroll-arrow div{
    font-size: 2rem;
}

.left-scroll{
    left: 0;
}

.right-scroll{
    right: 0;
}

/* for LAPTOP */
@media screen and (min-width: 768px) and (max-width: 991px){
    .sales .qna{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 90%;
    }
    .sales .qna p:nth-child(1){
        font-size: 1.5rem;
    }

    .sales .qna p:nth-child(2){
        font-size: 0.8rem;
    }
    .products li{
        width: 300px;
    }
}

/* for MOBILE */
@media screen and (max-width: 767px){
    .sales .qna{
        margin-top: 25px;
        margin-bottom: 25px;
        width: 95%;
    }
    .sales .qna p:nth-child(1){
        font-size: 1.5rem;
    }

    .sales .qna p:nth-child(2){
        font-size: 0.8rem;
    }
    .sales .products{
        padding: 0 2.5vw 5vw;
    }
    .products li{
        width: 200px;
        height: 100%;
        margin: 10vw 5vw;
    }
    .products .product-desc{
        font-size: 0.8rem;
    }
    .shop-item-action div{
        width: 50px;
        height: 50px;
    }
    .scroll-arrow{
        width: 10vw;
        height: 20vw;
    }
    .scroll-arrow div{
        font-size: 1.5rem;
    }
}

/* news section */
.news{
    width: 100%;
    height: auto;
    padding: 3vw 1vw 1.5vw;
    background-color: rgba(204, 204, 204, 0.144);
    position: relative;
}

.news-heading{
    width: 100%;
    height: auto;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.news-section{
    width: 100%;
    height: auto;
    padding: 1vw 2vw;
    margin-top: 1.5vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.news-card{
    width: 100%;
    height: auto;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.news-card div{
    margin: 1vw;
}

.news-card-img img{
    width: 100%;
    height: auto;
}

.news-card-info{
    position: relative;
    padding: 0;
}

.news-card-info div{
    width: 100%;
    margin-left: 0;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.news-card-info p{
    width: 100%;
    margin-top: 2vw;
    font-size: 1.5rem;
}

.news-card-info section{
    position: absolute;
    right: 0;
    bottom: 0;
}

.news-scroll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(187, 187, 187, 0.2);
    z-index: 69;
    cursor: pointer;
}

.news-left{
    left: 1vw;
}

.news-right{
    right: 1vw;
}

.material-icons{
    font-size: 30px;
    color: gray;
}

/* for LAPTOP */
@media screen and (min-width: 768px) and (max-width: 991px){
    .news-card-info{
        padding: 0;
    }
}

/* for MOBILE */
@media screen and (max-width: 767px){
    .news{
        padding: 5vw 1vw 3vw;
    }
    .news-card{
        flex-direction: column;
        padding: 5vw 0;
    }
    .news-heading{
        font-size: 1.5rem;
    }
    .news-card-info{
        padding: 50px 0;
    }
    .news-card-info div{
        font-size: 1.5rem;
    }
    .news-card-info p{
        font-size: 1rem;
    }
}

/* testimonials */
.testimonial{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial .testimonial-title{
    margin: 4vw 0 0;
    font-size: 2rem;
    font-weight: bold;
}

.testimonial .users{
    width: 100%;
    padding: 0 2.5vw;
    white-space: nowrap;
    overflow-x: auto;
    background-color: transparent;
}

.users::-webkit-scrollbar{
    background-color: rgba(187, 187, 187, 0.466);
    height: 10px;
    display: none;
}

.users::-webkit-scrollbar-thumb{
    background-color: rgba(70, 70, 70, 0.3);
    border-radius: 5px;
}

.users:hover::-webkit-scrollbar{
    display: block;
}

.users li{
    width: 250px;
    height: 500px;
    margin: 5vw 2.5vw 2.5vw;
    display: inline-block;
    white-space: normal;
    text-align: center;
}

.users .user-image{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 125px;
    overflow: hidden;
}

.users .user-image img{
    width: 100%;
    height: 100%;
}

.users .user-name{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.users .user-desc{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
    color: #989595;
    font-style: italic;
    overflow-y: auto;
}

.users .user-desc::-webkit-scrollbar{
    width: 2.5px;
    border-radius: 1.25px;
    background-color: rgba(178, 178, 178, 1);
    display: none;
}

.users .user-desc:hover::-webkit-scrollbar{
    display: block;
}

.users .user-desc::-webkit-scrollbar-thumb{
    background-color: rgba(70, 70, 70, 0.3);
}

/* for LAPTOP */
@media screen and (min-width: 768px) and (max-width: 991px){
    .users li{
        width: 300px;
    }
}

/* for MOBILE */
@media screen and (max-width: 767px){
    .testimonial .testimonial-title{
        font-size: 1.5rem;
    }
    .testimonial .users{
        padding: 0 2.5vw 5vw;
    }
    .users li{
        width: 200px;
        height: 350px;
        margin: 10vw 5vw;
    }
    .users .user-image{
        width: 150px;
        height: 150px;
    }
    .users .user-desc{
        font-size: 0.8rem;
    }
}

/* footer */
.footer{
    background-color: #187927;
    display: flex;
    padding: 5vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    color: white;
}

.footer div{
    width: 25vw;
}

.krishigati .krishigati-title{
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 2.5vw;
}

.krishigati .krishigati-info{
    font-style: italic;
    width: 80%;
}

.useful-links .links-title{
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 2.5vw;
    text-align: center;
}

.useful-links li{
    text-align: center;
    margin-bottom: 10px;
}

.useful-links li a{
    color: white;
}

.contact-us .contact-title{
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 2.5vw;
    text-align: center;
}

.contact-us .contact-links{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-us .contact-links li{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
}

/* for LAPTOP */
@media screen and (min-width: 768px) and (max-width: 991px){
    
}

/* for MOBILE */
@media screen and (max-width: 767px){
    .footer{
        flex-direction: column;
    }
    .footer div{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .krishigati .krishigati-info{
        width: 100%;
    }
}

